@font-face {
    font-family: 'Black Han Sans';
    src: local('Black Han Sans Regular'), local('BlackHanSans-Regular'),
        url('BlackHanSans-Regular.woff2') format('woff2'),
        url('BlackHanSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

