@import "../../asset/styles/_variables.scss";
@import "../../asset/styles/_mixins.scss";

.wrap{
    position: relative;
    z-index: 100;
    padding-left: 246px;
    background-color: #130722;
    @include breakpoint(tablet) {
        padding-left: 0;
    }
    
    @include breakpoint(mo) {
        padding-left: 0;
    }
    &::before{
        position: absolute;
        top:0;
        right: 0;
        z-index: -1;
        @include vw-convert-pc(width, 837);
        @include vw-convert-pc(height, 600);
        background-image: linear-gradient(210deg, #4b1996 20%, transparent 50%);
        content: '';
        @include breakpoint(tablet) {
            width: 360px;
            height: 250px;
        }
        
        @include breakpoint(mo) {
            @include vw-convert-mo(width, 360);
            @include vw-convert-mo(height, 250);
        }
    }
}
.nav{
    position: fixed;
    left: 0;
    top:0;
    z-index: 102;
    width: 246px;
    height: 100vh;
    @include vw-convert-pc(padding,38 16);
    background-color: #1a0e29;
    transition: transform 1s;

    @include breakpoint(tablet) {
        position: fixed;
        top:0;
        right: 0;
        width: 100%;
        height: 64px;
        padding: 0;
        @include background-opacity($black,0.4);
    }
    
    @include breakpoint(mo) {
        position: fixed;
        top:0;
        right: 0;
        width: 100%;
        @include vw-convert-mo(height,64);
        padding: 0;
    }
    &.is_hidden{
        transform: translateY(-100%);
    }
}
.main{
    position: relative;
    z-index: 101;
    width: 100%;
    @include vw-convert-pc(max-width,1674);
    @include vw-convert-pc(margin,0 auto);
    .language{
        position: absolute;
        @include vw-convert-pc(top,20);
        @include vw-convert-pc(right,80);
        z-index: 103;
        @include breakpoint(tablet) {
            display: none;
        }
        
        @include breakpoint(mo) {
            display: none;
        }
    }
}