$screen-xsm: 320px;
$screen-mo: 720px;
$screen-sm: 1024px;
$screen-md: 1280px;
$screen-lg: 1440px;
$screen-xlg: 1920px;


$black: #000;
$white: #fff;
$gray: #333;

$brandcolor1: #DC3C00;
$brandcolor2: #FF6E00;
$brandcolor3: #FF9600;
$brandcolor4: #3C3C3C;

$backgroundcolor1: #120621;
$backgroundcolor2: #1A0E29;
$backgroundcolor3: #F9F9FC;

$componentcolor1: #FF9600;
$componentcolor2: #FFC43E;
$componentcolor3: #271A44;
$componentcolor4: #3E2472;
$componentcolor5: #433665;

$textcolor1: #888;
$textcolor2: #FF0000;
$textcolor3: #FF9600;
$textcolor4: #C6C6C6;
$textcolor5: #A2A0C3;