
.is_pc{
    display: block;
    @include breakpoint(tablet) {
      display: none;
    }
    @include breakpoint(mo) {
      display: none;
    }
  }
  .is_mo{
    display: none;
    @include breakpoint(tablet) {
      display: block;
    }
    @include breakpoint(mo) {
      display: block;
    }
  }