@import "../../../asset/styles/_variables.scss";
@import "../../../asset/styles/_mixins.scss";



.input_group{
    display: block;
}
.input{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    @include vw-convert-pc(border-radius,5);
    &::-webkit-input-placeholder {
        color: $textcolor5;
    }
    &:-ms-input-placeholder {
        color: $textcolor5;
    }
    &::placeholder {
        color: $textcolor5;
    }
    
    @include breakpoint(tablet) {
        border-radius: 5px;
    }
    @include breakpoint(mobile) {
        @include vw-convert-mo(border-radius,5);
    }
}
.error_input{
    display: block;
    @include vw-convert-pc(margin-top,10);
    @include vw-convert-pc(font-size,14);
    line-height: 1.21;
    color: $textcolor2;
    font-weight: 500;

    @include breakpoint(tablet) {
        margin-top: 8px;
        font-size: 12px;
    }
    @include breakpoint(mobile) {
        @include vw-convert-mo(margin-top,8);
        @include vw-convert-mo(font-size,12);
    }
}

.type1{
    .input{
        @include vw-convert-pc(height,56);
        @include vw-convert-pc(padding, 0 16);
        background-color: $backgroundcolor4;
        @include vw-convert-pc(font-size,18);
        color: $white;
        line-height: 1.44;
        font-weight: normal;

        @include breakpoint(tablet) {
            height: 48px;
            padding: 0 16px;
            font-size: 16px;
        }
        @include breakpoint(mobile) {
            @include vw-convert-mo(height,48);
            @include vw-convert-mo(padding, 0 16);
            @include vw-convert-mo(font-size,16);
        }
    }
}
.type2{
    .input{
        @include vw-convert-pc(height,44);
        @include vw-convert-pc(padding, 0 16);
        border: solid 1px $backgroundcolor4;
        background-color: $componentcolor3;
        @include vw-convert-pc(font-size,18);
        color: $white;
        line-height: 1.44;
        font-weight: normal;

        @include breakpoint(tablet) {
            height: 40px;
            padding: 0 16px;
            font-size: 14px;
        }
        @include breakpoint(mobile) {
            @include vw-convert-mo(height,40);
            @include vw-convert-mo(padding, 0 16);
            @include vw-convert-mo(font-size,14);
        }
    }
}
.type3{
    .label_input{
        display: block;
        @include vw-convert-pc(margin-bottom,8);
        @include vw-convert-pc(font-size,14);
        line-height: 1.21;
        color: $textcolor5;

        @include breakpoint(tablet) {
            margin-bottom: 8px;
            font-size: 14px;
        }
        @include breakpoint(mobile) {
            @include vw-convert-mo(margin-bottom,8);
            @include vw-convert-mo(font-size,14);
        }
    }
    .input{
        @include vw-convert-pc(height,40);
        @include vw-convert-pc(padding,0 16);
        border: solid 1px $backgroundcolor4;
        background-color: $componentcolor3;
        @include vw-convert-pc(font-size,16);
        color: $white;
        line-height: 1.19;
        font-weight: normal;

        @include breakpoint(tablet) {
            height: 40px;
            padding: 0 16px;
            font-size: 14px;
        }
        @include breakpoint(mobile) {
            @include vw-convert-mo(height,40);
            @include vw-convert-mo(padding, 0 16);
            @include vw-convert-mo(font-size,14);
        }
    }
}